* {
    box-sizing: border-box;
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Vollkorn', Arial, serif;
    font-size: 1em; 
}


.header-container {
  width: 100%;
  max-width: 1980px;
  margin: auto; 
  display: flex;
  flex-direction: row; 
  background: rgb(43, 40, 40);
  justify-content: center;
  position: relative;
}

#hgroup{
    width: 100%;
    max-width: 1980px;
    position: relative;
    padding: 45px 0 40px;
    margin: auto;
    height: 156px;
    background: rgb(36, 34, 34);
}
#hgroup h1, #header #hgroup h2{font-weight:normal; font-style:normal; text-transform:none;}
#hgroup h1{font-size:46px;}
#hgroup h1 span{font-size:36px; text-transform:uppercase;}
#hgroup h1 a{color:#000000;   background: white; }
#hgroup h2{font-size:12px;}

  
.main-menu {
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  overflow: visible;
  max-width: 960px;  
  align-items: flex-start; 
  height: 48px;         
}
.main-menu a {
    width: 100%;
    color: white;
    text-align: center;
    align-content: center;
    padding: .75em 1em;
    display: block;
    border-bottom: 2px solid #ddd; 
}

.main-menu a:hover {
      color: #c14400;
      border-bottom-color: #c14400; 
}

.drop-menu {
  display: flex;
  flex-direction: column; 
  align-items: center;
  width: 100%; 
  transition: max-height .4s, opacity .3s;
  max-height: 0;
  opacity: 0;
  overflow: hidden; 
}


.drop-menu > .menu-button {
  height: 100%;
  transition: transform .4s;
  transform: translateY(-300%);
  background:#221d1dab; 
}


.dropdown-wrapper:hover > .menu-button {
  color: #c14400;
  background: #333; 
}

.dropdown-wrapper:hover .drop-menu{
  max-height: 300px;  
  opacity: 1;
} 

.dropdown-wrapper:hover > .drop-menu .menu-button {
  transform: translateY(0%); 
}

/* .sildImg{
    display: flex;
    height: 500px;
}

.sildImg .mySlides{
    width: 1980px;
} */


#wrapper{
    max-width: 1980px;
	width:980px;
	margin:auto;
	height:500px;
	position:relative;
	color:#fff;
    text-shadow:rgba(0,0,0,0.1) 2px 2px 0px;	
    border: 1px solid black;
}

#slider-wrap{
	width:980px;
	height:500px;
	position:relative;
	overflow:hidden;
}

#slider-wrap ul#slider{
	width:100%;
	height:100%;
	
	position:absolute;
	top:0;
	left:0;		
}

#slider-wrap ul#slider li{
	float:left;
	position:relative;
	width:980px;
	height:500px;	
}

#slider-wrap ul#slider li > div{
	position:absolute;
	top:20px;
	left:35px;	
}

#slider-wrap ul#slider li > div h3{
	font-size:36px;
    text-transform:uppercase;	
}

#slider-wrap ul#slider li > div span{
	font-family: Neucha, Arial, sans serif;
	font-size:21px;
}

#slider-wrap ul#slider li img{
	display:block;
	width:100%;
  height: 100%;
}


/*btns*/
.btns{
	position:absolute;
	width:50px;
	height:60px;
	top:50%;
	margin-top:-25px;
	line-height:57px;
	text-align:center;
	cursor:pointer;	
	background:white;
	z-index:100;
	
	
	-webkit-user-select: none;  
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-ms-user-select: none;
	
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	-ms-transition: all 0.1s ease;
	transition: all 0.1s ease;
}

.btns:hover{
	background:rgba(255, 255, 255, 0.651);	
}

#next{right:-50px; border-radius:7px 0px 0px 7px;}
#previous{left:-50px; border-radius:0px 7px 7px 7px;}
#counter{
	top: 30px; 
	right:35px; 
	width:auto;
	position:absolute;
}

#slider-wrap.active #next{right:0px;}
#slider-wrap.active #previous{left:0px;}


/*bar*/
#pagination-wrap{
	min-width:20px;
	margin-top:450px;
	margin-left: auto; 
	margin-right: auto;
	height:15px;
	position:relative;
	text-align:center;
}

#pagination-wrap ul {
	width:100%;
}

#pagination-wrap ul li{
	margin: 0 4px;
	display: inline-block;
	width:5px;
	height:5px;
	border-radius:50%;
	background:#fff;
	opacity:0.5;
	position:relative;
    top:0;
}

#pagination-wrap ul li.active{
  width:12px;
  height:12px;
  top:3px;
  opacity:1; 
  box-shadow:rgba(129, 118, 118, 0.1) 1px 1px 0px;	
}

h1, h2{text-shadow:none; text-align:center;}
h1{	color: #666; text-transform:uppercase;	font-size:36px;}
h2{ color: #7f8c8d; font-family: Neucha, Arial, sans serif; font-size:18px; margin-bottom:30px;} 

/*ANIMATION*/
#slider-wrap ul, #pagination-wrap ul li{
	-webkit-transition: all 0.8s cubic-bezier(1,.01,.32,1);
	-moz-transition: all 0.8s cubic-bezier(1,.01,.32,1);
	-o-transition: all 0.8s cubic-bezier(1,.01,.32,1);
	-ms-transition: all 0.8s cubic-bezier(1,.01,.32,1);
	transition: all 0.8s cubic-bezier(1,.01,.32,1);	
}




#article{
    max-width: 1980px;
    width: 1200px;
    margin: auto;
    display: flex;
}
@media (min-width:1980px){
    #article{
        width: 70%;
        background: red;
    }
}

#hr-todayfilm,.row-bbs-title p{
    line-height: 2em;
    padding-left:2em;
    font-size: 18px;
}
.row-bbs-title>p{
    color: white;
    padding-top: 2px;
}

.row1{
    flex-basis: 100%;
    margin-top: 18px;
}

.row-bbs-title{
    background: rgb(36, 34, 34);
    padding-bottom:10px; 
    border-radius: 10px;
}

#hr-todayfilm {
    border: black solid 2px;
    width: 100%;
    color: white;
    background: rgb(36, 34, 34);
    border-radius: 10px;
 
}

.footer{
        height: 55px;
        background-color:#ddd; 
        display: flex;
        justify-content: center;
        align-items: center;
        width: 960px;
        margin: auto;
    }


/* 카드레이아웃 스타일 */
.row-item{
    display: flex;
    justify-content: space-around;
}
.row-imgs{
    flex-wrap: wrap;
}
 .card {
    height: 300px;
    width: 320px;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
}
 .card-header {
    transition: 0.5s;
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 15px 15px;
    background-size: 100% 280px;
    background-repeat: no-repeat;	
}

.card-body{
    height: 100px;
    background:rgb(255, 248, 235);
}

.card:hover .card-header  {
    opacity: 0.8;
    height: 100px;
}
.card-header-is-closed{
    
    background-color: lightseagreen ;
    color: #FFF ;
    font-weight: bold ;
    text-align: center ;
    float: right;
    margin: 5px 5px 0 0;
    border-radius: 50%;
    font-weight: bold;
    padding: 10px 10px;
    line-height: 20px;
}
.card-bdoy-header h1 {
    font-size: 20px;
    font-weight: bold;
}

.card-body-description{
    opacity: 0;
    border-top:1px solid #EF5A31;
    color: #757B82;
    line-height: 25px;
    overflow: hidden;
    margin: 5px 10px;
    padding-top: 5px;
}

.card:hover .card-body-description {
    opacity: 1;
    transition : .5s ease-in-out;
    overflow: auto;
}

/* 테스티 스타일 */
.row-bbs{
    flex-direction: column;
}
.testi {
    border: 2px solid #ccc;
    background-color: #eee;
    border-radius: 5px;
    padding: 16px;
    margin: 16px 0
  }
  .testi::after {
    content: "";
    clear: both;
    display: table;
  }
  .testi img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
  }
  .testi span {
    font-size: 20px;
    margin-right: 15px;
  }

  /* 포트폴리오 */
  hr {
	margin: 0;
	border-top: 1px solid #ddd;
    }

.container{
    background: rgb(36, 34, 34);
    border-radius: 10px;
}


.portfolio-menu {
	    padding-top: 30px;
        text-align: center;
        padding: 10px;
        width: 100%;
        background: black;
        border-radius: 10px
        }

    .portfolio-menu ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }

.portfolio-menu li {
    display: inline-block;
  
    position: relative;
    margin-left: 15px;
    padding-bottom: 10px;
    cursor: pointer;
    color: white;
}

.portfolio-menu li::before {
    background: transparent;
    bottom: 0px;
    left: 0;
    right: 0;
    transition: 0.4s;
    content: "";
    height: 4px;
    position: absolute;
    z-index: 99;
}


.portfolio-menu li.select {
    color: red;
}

.portfolio-menu li.select::before,.portfolio-menu li:hover::before {
    background: #eb315a;
}
.portfolio-content h2 {
    margin-top: 20px;
}

.row-imgs{
    display: flex;
    justify-content: flex-start;
    height: 1428px;
    
}

.single-portfolio {
    margin-top: 50px;
    display: none;
    margin-left: 55px;
    height: 300px;
}
.show{
    display: inline-block;
}
.video-area,
.single-portfolio-img {
	overflow: hidden;
	position: relative;
    width:250px;
    height: 300px;
    border-radius: 10px;
}
.single-portfolio-img:hover .popup-youtube i {
	opacity: 1;
}
.single-portfolio-img .popup-youtube i {
	opacity: 0;
}
.single-portfolio-img img {
	transition: 0.9s;
}
.single-portfolio:hover img {
	transform: scale(1.2);
}
.single-portfolio .review {
    margin-bottom: 0;
}

.portfolio-sidebar img {
    margin-top: 30px;
	border-radius: 10px;
}

.portfolio-sidebar {
    margin-top: 20px;
}

.popup-youtube i:hover {
    color: red;
    border: 2px solid red;
}
.popup-youtube i {
    width: 60px;
    height: 60px;
    line-height: 60px;
	color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 18px;
    display: inline-block;
    transition: all 0.4s;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
}

@media (min-width: 992px){
    #article{
    width: 960px;
    }
   .sidenav{
       display: flex;
       flex-direction: column;
       padding: 1px;
       height: 3030px;
       margin-left: 20px;
   }
    .sideContent{
        margin-left: 10px;
        width: 380px;
        text-align: center;
        position: fixed;
        top: 220px;
        border-radius: 10px;
        height: 500px;
        padding: 10px;
     }
     .sideContent:after {
        background-image:url("Images/weatheri.jpg");
        top:0;
        left:0;
        position:absolute;
        background-size:100%;
        opacity:0.5!important;
        filter:alpha(opacity=50);
        z-index:-1;
        border-radius: 10px;
        content:"";
        width:100%;
        height:100%;
    }
    
    .sidenavCard{
        border-radius: 10px;
        width:100%;
        height: 100px;
        align-self: center;
        text-align: center;
        padding-top: 20px;
        background:rgba(212, 206, 193, 0.39);
        text-decoration: none;
    }

     .todaynew{
         z-index: 99;
     }

  

     .todaynew{

     } 
    
}



@media (max-width: 600px) {
  
  .header-container {
    width: 100%;
    margin: 0;
  }

  .header-container {
    height: 200px;
    align-items: flex-start;
  } 
  
  .main-menu {   
    z-index: 1;
    flex-direction: column; 
    align-items: flex-start; 
    height: 48px; 
    margin: 0;
    justify-content: space-between;
  }
    
  .main-menu > .menu-button {
    width: 100%;
  }
  .sildImg{
      height: 250px;
      position: relative;
  }
  .sildImg .mySlides{
      width: 100%;
  }
  footer{
      width: 100%;
      align-items: center;
  }
  .row-item{
      flex-direction: column;
      align-items: center;
      height: 80%;
  }
  
  .card{
      margin: 0;
  }
  .card:hover .card-header  {
    opacity: 0.8;
    height: 10px;
    background-image: url("shazam.jpg");
}
.card-header {
    transition: 0.5s;
    width: 100%;
    border-radius: 15px 15px 0 0;
    background-size: 100% 280px;
    background-repeat: no-repeat;	
}
#article{
      flex-direction: column;
      
  }
}